body{
	font-family: 'Roboto', sans-serif;
}
.background-city{
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: bottom;
	min-height: calc(100vh - 56px);
}
.texto-inicio{
	width: 100%;
	text-align: center;
	color: #333;
}
.background-city .card .card-img-top{
	height: 180px;
}
.imagem-user{
	border-radius:50%;
	width: 150px;
	height: 150px;
	position: relative;
	margin: auto;
}
.imagem-cad{
	width: 100%;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}